*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #0f1424; }

body {
  font-family: "Rubik", sans-serif; }

.attribution {
  font-size: 14px;
  text-align: center;
  color: #fff; }

.attribution div a {
  text-decoration: none;
  color: #f1c65b;
  font-size: 12px;
  transition: all .2s ease-in; }

.attribution div a:hover {
  font-style: italic;
  color: #6f76c8;
  font-size: 14px; }

/******************/
/****Main Card****/
/****************/
.main-card {
  background-color: #5847eb;
  border-radius: 10px;
  z-index: 2;
  height: 235px; }

.text-link {
  text-decoration: none;
  color: #bdc1ff; }

.person {
  width: 170px;
  padding-bottom: 20px;
  /******************/
  /****Sub Card****/
  /****************/ }
  .person-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #fff;
    margin-top: 30px;
    margin-left: 20px; }
  .person-report, .person-name {
    margin-left: 20px; }
  .person-report {
    font-size: 9px;
    margin-top: 25px;
    color: #bdc1ff; }
  .person-name {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff; }
  .person-subcard {
    background-color: #1c1f4a;
    padding: 36px 0 6px 0;
    border-radius: 10px;
    margin-top: -22px; }
    .person-subcard-daily, .person-subcard-weekly, .person-subcard-monthly {
      color: #bdc1ff;
      font-size: 11px;
      margin: 10px 0px 14px 20px;
      z-index: -1; }

/******************/
/****Card****/
/****************/
.card {
  color: #fff;
  width: 184px;
  padding: 7px 0;
  align-items: center;
  background-color: #1c1f4a;
  grid-template-columns: 150px 22px;
  grid-template-rows: 39px 50px 25px;
  grid-template-areas: "title nav-dot" "time time" "status status";
  display: grid;
  border-radius: 10px; }
  .card-title, .card-time, .card-status {
    margin: 8px 0 6px 20px; }
  .card-title {
    font-size: 18px;
    margin-bottom: 16px;
    grid-area: title; }
  .card-time {
    font-size: 38px;
    font-weight: 300;
    grid-area: time;
    transition: all 0.3s ease-in-out; }
  .card-status {
    font-size: 9px;
    font-weight: 300;
    grid-area: status;
    color: #bdc1ff;
    transition: all 0.3s ease-in-out; }

/******************/
/****Card Background****/
/****************/
.small-card-back {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 45px;
  margin-bottom: -10px; }

.card-nav-dot {
  background-image: url("../../images/icon-ellipsis.svg");
  width: 21px;
  height: 8px;
  color: #fff;
  display: inline-block;
  background-repeat: repeat-x;
  grid-area: nav-dot; }
  .card-nav-dot:hover {
    filter: invert(54%) sepia(106%) saturate(155%) hue-rotate(136deg) brightness(382%) contrast(131%); }

.work-background {
  background-image: url("../../images/icon-work.svg");
  background-color: #ff8c66; }

.play-background {
  background-image: url("../../images/icon-play.svg");
  background-color: #56c2e6; }

.study-background {
  background-image: url("../../images/icon-study.svg");
  background-color: #ff5c7c; }

.exercise-background {
  background-image: url("../../images/icon-exercise.svg");
  background-color: #4acf81; }

.social-background {
  background-image: url("../../images/icon-social.svg");
  background-color: #7536d3; }

.self-care-background {
  background-image: url("../../images/icon-self-care.svg");
  background-color: #f1c65b; }

.text-link:hover {
  color: #fff; }

.active {
  background-color: #3c4390; }

/******************/
/****Media Query*******/
/******************/
@media only screen and (max-width: 850px) {
  .main-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 1fr;
    height: 100px; }
  .person {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    /******************/
    /****Sub Card****/
    /****************/ }
    .person-img {
      grid-row: span 2; }
    .person-report, .person-name {
      margin-left: 0px; }
    .person-report {
      margin-top: 35px; }
    .person-name {
      font-size: 18px;
      grid-area: 2 / 2 / 3 / 4;
      margin-top: 10px; }
    .person-subcard {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr; }
      .person-subcard-daily, .person-subcard-weekly, .person-subcard-monthly {
        color: #bdc1ff;
        z-index: 4; }
  .card {
    width: 100%;
    grid-template-columns: 100px 1fr 35px;
    grid-template-rows: 39px 50px; }
    .card-title {
      margin-bottom: -10px;
      grid-area: 1 / 1 / 2 / 3; }
    .card-time {
      font-size: 25px;
      grid-area: 2 / 1 / 3 / 2; }
    .card-status {
      font-size: 14px;
      grid-area: 2 / 2 / 2 / 4;
      margin-left: 53px; }
  .card-nav-dot {
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: -8px; }
  .small-card-back {
    background-size: contain;
    background-position-x: 220px; }
  .work {
    width: 100%; }
  .play {
    width: 100%; }
  .study {
    width: 100%; }
  .exercise {
    width: 100%; }
  .social {
    width: 100%; }
  .self-care {
    width: 100%; } }

.cent {
  display: grid;
  justify-content: center; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 20px;
  margin: 8% auto; }

.person {
  display: grid;
  grid-row: 1 / span 2;
  height: 18rem;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

/******************/
/****Media Query*******/
/******************/
@media only screen and (max-width: 850px) {
  .container {
    grid-template-columns: 280px;
    grid-template-rows: auto;
    row-gap: 20px; }
  .person {
    grid-template-rows: 1fr 55px;
    grid-row: 1 / span 2;
    height: auto;
    width: 100%; } }
