.cent {
  display: grid;
  justify-content: center;
}

.container {
  //width: 50%;
  //height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  //align-items: center;
  grid-gap: 20px;
  margin: 8% auto;
}

.person {
  display: grid;
  grid-row: 1 / span 2;
  height: 18rem;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/******************/
/****Media Query*******/
/******************/

@media only screen and (max-width: 850px) {
  .container {
    grid-template-columns: 280px;
    grid-template-rows: auto;
    // grid-auto-rows: 1fr;
    //justify-items: center;
    //align-items: center;
    row-gap: 20px;
    //margin: 8% auto;
  }

  .person {
    grid-template-rows: 1fr 55px;
   // display: grid;
    grid-row: 1 / span 2;
    height: auto;
    width: 100%;
    
  }
}
