/******************/
/****Main Card****/
/****************/

.main-card {
  background-color: $Blue;
  border-radius: 10px;
  z-index: 2;
  height: 235px;
}
.text-link {
  text-decoration: none;
  color: $Pale-Blue;
}
.person {
  width: 170px;
  padding-bottom: 20px;
  &-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px #fff;
    margin-top: 30px;
    margin-left: 20px;
  }
  &-report,
  &-name {
    margin-left: 20px;
  }
  &-report {
    font-size: 9px;
    margin-top: 25px;
    color: $Pale-Blue;
  }
  &-name {
    font-size: 24px;
    margin-bottom: 30px;
    color: $white;
  }
  /******************/
  /****Sub Card****/
  /****************/

  &-subcard {
    background-color: $Dark-blue;
    //align-items: flex-end;
    padding: 36px 0 6px 0;
    border-radius: 10px;
    margin-top: -22px;
    &-daily,
    &-weekly,
    &-monthly {
      color: $Pale-Blue;
      font-size: 11px;
      margin: 10px 0px 14px 20px;
      z-index: -1;
    }
  }
}

/******************/
/****Card****/
/****************/

.card {
  color: $white;
  width: 184px;
  padding: 7px 0;
  align-items: center;
  background-color: $Dark-blue;
  grid-template-columns: 150px 22px;
  grid-template-rows: 39px 50px 25px;
  grid-template-areas: "title nav-dot" "time time" "status status";
  display: grid;
  border-radius: 10px;
  &-title,
  &-time,
  &-status {
    margin: 8px 0 6px 20px;
  }

  &-title {
    font-size: $title-font;
    margin-bottom: 16px;
    grid-area: title;
  }
  &-time {
    font-size: 38px;
    font-weight: $font-weight-1;
    grid-area: time;
    transition: all 0.3s ease-in-out;
  }
  &-status {
    font-size: 9px;
    font-weight: $font-weight-1;
    grid-area: status;
    color: $Pale-Blue;
    transition: all 0.3s ease-in-out;
  }
}

/******************/
/****Card Background****/
/****************/
.small-card-back {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 45px;
  margin-bottom: -10px;

  //display: grid;
}

.card-nav-dot {
  background-image: url("../../images/icon-ellipsis.svg");
  width: 21px;
  height: 8px;
  color: #fff;
  display: inline-block;
  background-repeat: repeat-x;
  grid-area: nav-dot;
  &:hover {
    filter: invert(54%) sepia(106%) saturate(155%) hue-rotate(136deg)
      brightness(382%) contrast(131%);
  }
}
.work {
  &-background {
    background-image: url("../../images/icon-work.svg");
    background-color: $Light-red-work;
  }
}
.play {
  &-background {
    background-image: url("../../images/icon-play.svg");
    background-color: $Soft-blue-play;
  }
}
.study {
  &-background {
    background-image: url("../../images/icon-study.svg");
    background-color: $Light-red-study;
  }
}
.exercise {
  &-background {
    background-image: url("../../images/icon-exercise.svg");
    background-color: $Lime-green-exercise;
  }
}
.social {
  &-background {
    background-image: url("../../images/icon-social.svg");
    background-color: $Violet-social;
  }
}
.self-care {
  &-background {
    background-image: url("../../images/icon-self-care.svg");
    background-color: $Soft-orange-self-care;
  }
}

.text-link:hover {
  color: $white;
}

.active {
  background-color: $hover-color;
}

/******************/
/****Media Query*******/
/******************/

@media only screen and (max-width: 850px) {
  .main-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 1fr;
    height: 100px;
  }
  .text-link {
  }
  .person {
    grid-template-columns: auto;
    grid-template-rows: 1fr;

    &-img {
      grid-row: span 2;
    }
    &-report,
    &-name {
      margin-left: 0px;
    }
    &-report {
      margin-top: 35px;
    }
    &-name {
      font-size: 18px;
      grid-area: 2 / 2 / 3 / 4;
      margin-top: 10px;
    }
    /******************/
    /****Sub Card****/
    /****************/

    &-subcard {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;

      &-daily,
      &-weekly,
      &-monthly {
        color: $Pale-Blue;

        z-index: 4;
      }
    }
  }
  ///
  .card {
    width: 100%;

    grid-template-columns: 100px 1fr 35px;
    grid-template-rows: 39px 50px;

    &-title {
      margin-bottom: -10px;
      grid-area: 1 / 1 / 2 / 3;
    }
    &-time {
      font-size: 25px;
      grid-area: 2 / 1 / 3 / 2;
    }
    &-status {
      font-size: 14px;
      grid-area: 2 / 2 / 2 / 4;
      margin-left: 53px;
    }
  }

  .card-nav-dot {
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: -8px;
  }
  .small-card-back {
    background-size: contain;
    background-position-x: 220px;
  }

  .work {
    @include card-mob-layout;
  }
  .play {
    @include card-mob-layout;
  }
  .study {
    @include card-mob-layout;
  }
  .exercise {
    @include card-mob-layout;
  }
  .social {
    @include card-mob-layout;
  }
  .self-care {
    @include card-mob-layout;
  }
}
